@import url('../../generic.css');

header{
    min-height:10vh;
    max-width: 100vw;
    background-color: white;
    /* border-top:1px solid black; */
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0,0.5);
    /* position: fixed; */
    /* top: 0; */
}
.menu-bar{
    margin:15px 0;
}
.menu-icon{
    display: none;
}
.menu-bar ul{
    list-style:none;
}
.menu-bar ul li{
    padding: 10px 10px;
    display: inline-block;
}
.menu-bar ul li a{
    text-decoration: none;
    color:rgba(252, 66, 123,1.0);
   
}
.drawer{
    list-style: none;
     overflow: auto;
}
.drawer li{
    /* text-decoration: none; */
    padding:10px 20px;
    border-bottom:1px solid black;
}
.drawer li:hover{
    background-color: silver;
}
.drawer a{
    text-decoration:none;
    color:black;
}
.menu-bar ul li:hover{
    /* border:1px solid black; */
}

@media only screen and (max-width:500px){
    .menu-bar{
        display: none;
    }
    .menu-icon{
        display: block;
        margin:15px 0;
    }
    .menu-icon i{
        margin:20px 0;
        cursor: pointer;
    }
}