@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,500&family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  /* background:lightcoral */
}

.App{
  /* background-image: url('https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
  /* background: -webkit-linear-gradient(-30deg, #33ccff, #81d5ff,#ffccff,#81d5ff);  
  background: linear-gradient(-30deg, #33ccff, #81d5ff,#ffccff,#81d5ff); */
  background-color: #ECEDEF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background:linear-gradient(pink,lightcoral); */
}